<div class="box">
    <form (submit)="search($event)">
        <label class="label">Search</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input #searchInput class="input" type="search" placeholder="Search">
            </div>
            <div class="control">
                <button class="button is-primary">Search</button>
            </div>
        </div>
        <p class="help">Search for any cocktail or ingredient</p>
    </form>
</div>
