<div class="box" *ngIf="cocktail | async">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a routerLink="../">Cocktails</a></li>
            <li class="is-active">
                <a routerLink="." aria-current="page">{{ (cocktail | async).name }}</a>
            </li>
        </ul>
    </nav>
    <article class="media">
        <figure class="media-left">
            <img class="image is-128x128" [src]="(cocktail | async).image">
        </figure>
        <div class="media-content">
            <div class="content">
                <h1>{{ (cocktail | async).name }}</h1>
                <p>{{ (cocktail | async).description }}</p>
            </div>
        </div>
        <div class="media-right">
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small">
                            <i class="fa fa-reply"></i>
                        </span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small">
                            <i class="fa fa-heart"></i>
                        </span>
                    </a>
                </div>
            </nav>
        </div>
    </article>
    <br>
    <div class="content">
        <h3>Ingredients</h3>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Ingredient</th>
                    <th>Group</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingredient of (cocktail | async).ingredients">
                    <td>
                        <strong>{{ ingredient.amount }}</strong>
                    </td>
                    <td>{{ ingredient.name }}</td>
                    <td>
                        <span class="cocktail-group tag is-primary" (click)="goToGroup(ingredient.group)">{{ ingredient.group }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>